# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES README* TODO MANIFEST.in
include auto8it countem installit tests.all
include psprog pzogd test*.py
include ringData.xlgo
recursive-include pzog *.py

global-exclude junk* .*swp 
prune   .svn


